<%= form_for ([@article, Comment.new]) do |f| %>
<div style="margin-top:10px;color:#1fb2e8;;margin-left:-33px; font-size:1.6em"><strong> Post your comments </strong> </div>
 <%= f.text_area :content, :style => "width:727px; height:100px; border: 1px solid #999999;margin-top:25px; background-color:#FFFFFF;margin-left:-33px" %>
     <div class="actions">
     <%= f.submit "add comment", :style => "margin-right:20px;width:25%; margin-left:560px; background-color:#66C9Ef; color:#FFFFFF; border: 0px solid #82b548; border-radius: 3px 3px 3px 3px; font-size: 1.3rem;" %>
  </div>
<% end %>