  <div style="border: 0px solid #1763A4;border-radius: 4px 4px 4px 4px;margin: 0 0 50px; padding: 20px 20px 10px; background: none repeat scroll 0 0 #ffffff; width: 100%; margin-left:110px">
   <div style="color:#0077CC;font-size: 2.0em;margin-left:-33px"> edit comment </div>
    <%= form_for ([@article, @comment]) do |f| %>
      <%= f.text_area :content, :style => "width:727px; height:150px; border: 1px solid #999999;margin-top:25px; background-color:#FFFFFF;margin-left:-33px" %>
   
      	<div style ="margin-top:20px; margin-left:430px;font-size:1.4em">  <%= link_to "cancel", article_path(@article) %> </div>
          <div> <%= f.submit "update comment",:style => "margin-top:-40px; margin-left:535px; background-color:#66C9Ef; color:#FFFFFF; font-size: 1.3rem; border: 0px solid #82b548; border-radius: 3px 3px 3px 3px;" %></div>
    <% end %>
</div>


