<div>
  <div style="border: 1px solid #ffffff;border-radius: 6px 6px 6px 6px;margin: 10px 15px 15px; padding: 5px 5px 25px; background: none repeat scroll 0 0 #66c9ee; width:95%; font-size: 1.2em">
  <%= comment.content %>
    <div id="tabs"> 
      <ul id="tabs">
       <li> <div style="color:#ffffff; margin-top:4px;"> <p>Posted at <%= comment.created_at %> </p></div></li>
       <li> <div style="color:#ffffff; font-size: 1.0em;margin-top:4px;"> <%= comment.user.username if comment.user %></div></li>
      </ul>
    </div>
  </div>
</div>