	<div>

<div style="border: 1px solid #82b548;border-radius: 6px 6px 6px 6px;margin: 10px 35px 15px; padding: 20px 20px 25px; background: none repeat scroll 0 0 #66c9ee; width:90%; font-size: 1.2em">
<p class="comment"><%= comment.content %></p>
<ul id="tabs">
<div style="color:#ffffff; margin-top:15px"> <p>Posted at <%= comment.article.created_at.strftime("%Y-%m-%d %H:%M:%I") %> </p></div>
<%# @article.comments.each do |c| %>
<div style="color:#ffffff; font-size: 1.4em;"> <%= comment.user.username if comment.user %></div>
<%# end %>
</ul>
</div>


</div>