  <div style="border: 0px solid #1763A4;border-radius: 4px 4px 4px 4px;margin: 0 0 50px; padding: 20px 20px 10px; background: none repeat scroll 0 0 #ffffff; width: 100%; margin-left:150px">
	 <div style="color:#0077CC;"> <h3> edit article </h3> </div>
     <%= render :partial => 'form' %>
  </div>
