.navbar-inner {
  background-color: #1763A4; /* fallback color, place your own */

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #1763A4, #1763A4);
  background-image: -ms-linear-gradient(top, #1763A4, #1763A4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1763A4), to(#1763A4));
  background-image: -webkit-linear-gradient(top, #1763A4, #1763A4);
  background-image: -o-linear-gradient(top, #00B2ED, #00B2ED);
  background-image: linear-gradient(top, #00B2ED, #00B2ED);
  background-repeat: repeat-x;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1763A4', endColorstr='#222222', GradientType=0);
}

.navbar .brand {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: -20px;
    padding: 10px 20px;
    text-shadow: 0 0px 0 #FFFFFF;
}

.navbar .nav > li > a {
    color: #FFFFFF;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 0px 0 #FFFFFF;
}

.navbar .nav > li > a:hover {
    background-color: #82b548;
    color: #FFFFFF;
    text-decoration: blink;
    
}

#tabs ul {
 margin-left: 0;
 padding-left: 0;
 display: inline;
 } 

 #tabs ul li {
 margin-left: 0;
 margin-bottom: 110;
 padding: 2px 15px 5px;
 border: 0px solid #666666;
 list-style: none;
 font-size: 1.2em;
 
 float: left
 }

 #tabula ul {
 margin-left: 0;
 padding-left: 0;
 display: inline;
 } 

 #tabula ul li {
 margin-left: 0;
 margin-bottom: 110;
 padding: 0px 0px 0px;
 border: 0px solid #666666;
 list-style: none;
 font-size: 1.0em;
 
 float: left
 }

div.hireme, div#hireme {
    background: url("img/careers2-ad-header-so-crop.png") no-repeat scroll 1px 1px #FFFFFF;
    border: 1px solid #B5B5B5;
    clear: both;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 130%;
    margin: 12px 0;
    min-height: 220px;
    padding: 0;
    text-align: left;
    width: 218px;
}

.nav > li > a:hover {
    background-color: #66C9EE;
    color: #FFFFFF;
    text-decoration: blink;
  }

  element.style {
    height: 132px;
    width: 759px;
}
body, input, select, textarea, button {
    font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif;

}


.field_with_errors {
  padding: 2px;
  background-color: light-green;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 00px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #999911;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  color: #fff
}

.btn.btn-create { 
    background-color: #D14836;
    color: #FFFFFF; 
    background-image: none; /* the background-image needs to be reset */
}